@import "tailwindcss";

:root {
  /* Light mode */
  --color-bg: hsl(0, 0%, 99%);
  --color-text: hsl(200, 15%, 8%);
  --color-element: hsl(0, 100%, 100%);
  --color-input: hsl(0, 0%, 50%);
}

[data-theme="dark"] {
  --color-bg: hsl(207, 26%, 17%);
  --color-text: hsl(0, 100%, 100%);
  --color-element: hsl(209, 23%, 22%);
  --color-input: hsl(0, 0%, 50%);
}

body {
  font-family: "Nunito Sans", sans-serif;
  @apply flex min-h-dvh w-full flex-col bg-[var(--color-bg)] text-base font-light text-[var(--color-text)];
}

main {
  @apply flex-1;
}

.container {
  @apply mx-auto w-[90%] max-w-6xl;
}
